.app-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 6fr 1fr;
}

/* row 1 */

.sidebar {
    display: grid;
    row-gap: 5px;
    border: 1px solid black;
    padding: 0 20px;

}

.sidebar h1 {
    color: rgb(36, 47, 152);
    margin-top: 120px;
    text-align: center;
}

.sidebar button {
    height: 40px;
}


.mainapp {
    display: grid;
    place-content: center;
    row-gap: 5px;
    border: 1px solid black;
}

.mainapp h1 {
    text-align: center;
}

/* row 2 */
.status-container {
    display: grid;
    grid-column: 1 / span 2;
    border: 1px solid black;
}

.status-container h3 {
    color: rgb(36, 47, 152);
    text-align: center;
}

#status-label {
    font-size: small;
    text-align: center;
    padding-top: 10px;
}


.ble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.ble button {
    padding: 0 10px;
}


.smoothie-chart-tooltip {
    background: #444;
    padding: 1em;
    margin-top: 20px;
    font-family: consolas;
    color: white;
    font-size: 10px;
    pointer-events: none;
}


.trainBtn-container {
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-gap: 0.8rem;
}


#data-form {
    display: grid;
    grid-template-columns: 1fr;
}

.prox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8rem;
}

.prox-container p {
    text-align: right;
}

.train-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}





@media(max-width:700px) {
    .sidebar h1 {
        font-size: 15px;
    }
}