.mainapp {
    height: 100vh;
    display: grid;
    place-content: center;
    row-gap: 5px;
}

.mainapp h1 {
    text-align: center;
}

.ble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.ble button {
    padding: 0 10px;
}

#status-label {
    font-size: small;
    text-align: center;
    padding-top: 10px;
}

.smoothie-chart-tooltip {
    background: #444;
    padding: 1em;
    margin-top: 20px;
    font-family: consolas;
    color: white;
    font-size: 10px;
    pointer-events: none;
}


.trainBtn-container {
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-gap: 0.8rem;
  }


#data-form {
    display: grid;
    grid-template-columns: 1fr;
}