
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

nav {
    display: flex;
    padding: 0.1% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 32, 108);
}

nav img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
}

nav h3 {
    color: rgb(255, 255, 255);
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #d7531b;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;
    
}