@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-wrapper {
    display: grid;
    padding: 20 380;
}


.title {
    display: grid;
    place-items: center;
    margin-bottom: 0px;
    color: #33cabb;
    text-transform: uppercase;
}

.form-control {
    font-weight: normal;
    font-size: 5px;
}

hr {
    margin: 5px 0 15px 0 !important;
}

.register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.title, hr, #div_id_username, #div_id_email, 
#div_id_password1, #div_id_password2, .submit-btn {
    grid-column: 1 / span 2;
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgba(33,37,41,0.75)!important;
}

ul { display: none } /* hides password description */

label {
    font-size: 0.8rem;
    margin: 2px !important;
}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.textinput, .emailinput {
    padding: 2px !important;
}

.submit-btn {
    display: flex;
    justify-content: flex-end;
}

