.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
}

ul {
    margin: 10px 0;
    padding-left: 50px;
}

ul li {
    font-size: small;
}

.title {
    text-align: center;
    margin: 30px 0;
}