ion-icon {
    pointer-events: none;
}

.container {
    display: grid;
    justify-content: center;
    margin: 100px 50px 0 50px;
    border: 1px solid black;
}

.image-container {
    display: grid;
    justify-content: center;
    row-gap: 10px;
    margin-bottom: 20px;
}

.image-container img {
    width: 150px;
    height: 150px;
}

/* styles if JS activated */
.js .input-file-container {
	position: relative;
	width: 225px;
}

.js .input-file-trigger {
	display: block;
	padding: 14px 45px;
	background: #39D2B4;
	color: #fff;
	font-size: 1em;
	transition: all .4s;
	cursor: pointer;
}

.js .input-file {
	position: absolute;
	top: 0;
	left: 0;
	width: 225px;
	padding: 14px 0;
	opacity: 0;
	cursor: pointer;
}

/* some styles for interactions */
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
	background: #34495E;
	color: #39D2B4;
}

.user {
    display: grid;
    justify-content: center;
}