<!DOCTYPE html>
<html lang="en">

    {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/styles/acc2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    {% include 'base/appNavbar.html' %}

<body>
    {% block content %}
        <div class="card">
            <div class="header">
                <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__480.png">
                <h3>John Doe</h3>
                <p>Mobile App Developer</p>
            </div>
            <div class="body">
                <ul>
                    <li>
                        <h3>5-555-666-777</h3>
                        <p>Mobile number</p>
                        <i class="fas fa-mobile-alt"></i>
                    </li>
                    <li>
                        <h3>example@gmail.com</h3>
                        <p>Email address</p>
                        <i class="fas fa-envelope"></i>
                    </li>
                    <li>
                        <h3>www.example.com</h3>
                        <p>Website address</p>
                        <i class="fas fa-globe-americas"></i>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <ul>
                    <li>
                        <i class="fab fa-facebook-f"></i>
                    </li>
                    <li>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin-in"></i>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
</body>
</html>