<!DOCTYPE html>


<html lang="en">
    {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/styles/changepass.css' %}">
    {% include 'base/appNavbar.html' %}

<body>
    {% block content %}
        <div class="container">
            <form class="form-group" method="POST">{% csrf_token %}
                <h3 class="title">Change password</h3>
                {{ form.as_p }}
                <button type="submit">Save changes</button>
                <a href="#">Forgot your password?</a>
            </form>
        </div>

    {% endblock %}

</body>
</html>



