<!DOCTYPE html>


<html lang="en">
    {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/styles/edit_acc.css' %}">
    {% include 'base/appNavbar.html' %}

<body>
    {% block content %}
        <div class="container">
            <div class="account-field">
                <div class="basic-info">

                    
                    
                    <form method="POST">{% csrf_token %}
                        <div class="image-container">
                            <img src="{% static 'accounts/images/default.jpg' %}" id="photo">

                            <!-- <input type="file" name="file" id="file" class="inputfile" accept="image/*"/> -->
                            <div class="input-file-container">
                                <input class="input-file" id="my-file" type="file" accept="image/*">
                                <label for="my-file" class="input-file-trigger" tabindex="0">
                                    Select a file...
                                </label>
                            </div>
                        </div>

                        <div class="user">
                            <div>
                                <h4>Username</h4>
                                <input type="text" name="newusername" placeholder="{{ request.user.username }}">
                            </div>
                            <div>
                                <h4>Email</h4>
                                <input type="text" name="newemail" placeholder="{{ request.user.email }}">
                            </div>

                            <div>
                                <h4>First Name</h4>
                                <input type="text" name="newfirstname" placeholder="{{ request.user.first_name }}">
                            </div>

                            <div>
                                <h4>Last Name</h4>
                                <input type="text" name="newlastname" placeholder="{{ request.user.last_name }}">
                            </div>
    
                            <button type="submit">Save changes</button>
                        </div>
    

                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <h6  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h6>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                    
                </div>

                <div>
                    <h4><a href="{% url 'change_password' %}">Change Password</a></h4>
                
                </div>

            </div>
        </div>

    {% endblock %}
    
    <script src="{% static 'accounts/scripts/profile_pic.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
