<!DOCTYPE html>


<html lang="en">
    {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/styles/account_info_edit.css' %}">
    {% include 'base/appNavbar.html' %}

<body>
    {% block content %}
        <div class="container">
            <form class="card" id="profile-form" method="POST">{% csrf_token %}
                <div class="ds-top">
                    <button class="submit-btn" type="submit">
                        <span class="save" title="Save">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </span>
                    </button>
                </div>

                <div class="avatar-holder">
                    <img src="{% static 'accounts/images/default.jpg' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}">
                </div>

                <div class="name">
                    <input type="text" name="newfirstname" id="newfirstname" placeholder="{{request.user.first_name}}">
                    <input type="text" name="newlastname" id="newlastname" placeholder="{{request.user.last_name}}">
                    <input type="text" name="newusername" id="newusername" placeholder="{{request.user.username}}">
                    <!-- <h6 title="Followers"> <span class="followers">{{ request.user.username }}</span></h6> -->
                </div>
                

                <div class="ds-info">
                    <h5>Overview</h5>
                    <div class="info email">
                        <p><span title="Email"><ion-icon class="icon" name="mail-outline"></ion-icon></span>
                            <input type="text" name="newemail" id="newemail" placeholder="{{request.user.email}}">
                        </p>
                    </div>
                    <div class="info phone">
                        <p><span title="Contact No."><ion-icon class="icon" name="call-outline"></ion-icon></span></ion-icon>
                            <input type="text" name="newphone" id="newphone" placeholder="+639184044100">
                        </p>
                    </div>
                    <div class="info org">
                        <p><span title="Organization"><ion-icon class="icon" name="briefcase-outline"></ion-icon></span>
                            <input type="text" name="neworg" id="neworg" placeholder="Milky Earth University">
                        </p>
                    </div>

                </div>
            </form>
        </div>

    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
