<!DOCTYPE html>


<html lang="en">
    {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/styles/account_info.css' %}">
    {% include 'base/appNavbar.html' %}

<body>
    {% block content %}
        <div class="container">
            <div class="account-field">
                <div class="basic-info">

                    <h2>Profile</h2>
                    <div class="image-container">
                        <div class="profile-pic-div">
                            <img src="{% static 'accounts/images/default.jpg' %}" id="photo">
                            <input type="file" id="file">
                            <label for="file" id="uploadBtn">Choose Photo</label>
                        </div>
                    </div>
                    
                    <form method="POST">{% csrf_token %}
                        <div class="user">
                            <div>
                                <h4>Username</h4>
                                <input type="text" name="newusername" placeholder="{{ request.user.username }}">
                            </div>
                            <div>
                                <h4>Email</h4>
                                <input type="text" name="newemail" placeholder="{{ request.user.email }}">
                            </div>

                            <div>
                                <h4>First Name</h4>
                                <input type="text" name="newfirstname" placeholder="{{ request.user.first_name }}">
                            </div>

                            <div>
                                <h4>Last Name</h4>
                                <input type="text" name="newlastname" placeholder="{{ request.user.last_name }}">
                            </div>
    
                            <button type="submit">Save changes</button>
                        </div>
    

                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <h6  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h6>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                    
                </div>

                <div>
                    <h4><a href="{% url 'change_password' %}">Change Password</a></h4>
                
                </div>

            </div>
        </div>

    {% endblock %}

    <script src="{% static 'accounts/scripts/profile_pic.js' %}"></script>
</body>
</html>
