<!DOCTYPE html>


<html lang="en">
    {% include 'main.html' %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/styles/editProfile.css' %}">

<body>
    {% block content %}
        <div class="container">
            <form class="card" id="profile-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="ds-top">
                    <button class="submit-btn" type="submit">
                        <span class="save" title="Save">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </span>
                    </button>
                </div>

                <div class="avatar-holder">
                    <div class="avatar-container">
                        <div class="avatar-outer">
                            <img id="imagePreview" src="{{ profile.image.url }}" alt="{{ request.user.first_name }} {{ request.user.last_name }}">
                            
                            <div class="avatar-inner">
                                <input class="inputfile" id="inputfile" type="file" name="newprofilepic" accept="image/*">
                                <label><span title="Choose image"><ion-icon name="camera-outline"></ion-icon></span></label>
                            </div>
                        </div>
                      </div>
                </div>

                <div class="name">
                    <input type="text" name="newfirstname" id="newfirstname" placeholder="{{request.user.first_name}}">
                    <input type="text" name="newlastname" id="newlastname" placeholder="{{request.user.last_name}}">
                    <input type="text" name="newusername" id="newusername" placeholder="{{request.user.username}}">
                    {% if username_error %}
                        <p class="username-error">{{ username_error }}</p>
                    {% endif %}
                </div>
                

                <div class="ds-info">
                    <h5>Overview</h5>
                    <div class="info email">
                        <p>
                            <span title="Email"><ion-icon class="icon" name="mail-outline"></ion-icon></span>
                            <input type="text" name="newemail" id="newemail" placeholder="{{ request.user.email }}">
                        </p>

                        {% if email_error %}
                            <p class="email-error">{{ email_error }}</p>
                        {% endif %}

                    </div>

                    <div class="info phone">
                        <p>
                            <span title="Contact No."><ion-icon class="icon" name="call-outline"></ion-icon></span></ion-icon>
                            <input type="text" name="newphone" id="newphone" placeholder="{{ profile.phone }}">
                        </p>

                        {% if phone_error %}
                            <p class="phone-error">{{ phone_error }}</p>
                        {% endif %}

                    </div>

                    <div class="info org">
                        <p>
                            <span title="Organization"><ion-icon class="icon" name="briefcase-outline"></ion-icon></span>
                            <input type="text" name="neworg" id="neworg" placeholder="{{ profile.organization }}">
                        </p>
                    </div>

                    

                </div>
            </form>
        </div>

    {% endblock %}
    
    <script src="{% static 'accounts/scripts/edit_profile_pic.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
