<!DOCTYPE html>
<html lang="en">

<body>
    <!-- {% extends 'main.html' %} -->

    {% block content %}

    {% if request.user.is_authenticated %}
        <div style="margin-top: 30px;">
            <form method="POST">{% csrf_token %}
                <p>Are you sure you want to logout?</p>

                <button type="submit">Yes, logout</button>

            </form>
        </div>
    {% else %}
        <p>You're not login. Would you like to <a href="{% url 'login' %}">login</a>?</p>
    {% endif %}

    {% endblock %}
</body>
</html>