<html>
    

    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/styles/accountsStyles.css' %}">

    {% include 'navbar.html' %} 
    <style> 
        .navbar { position: relative }
    </style>
    
    {% load crispy_forms_tags %}


    {% block content %}
        
        
    <div class="main-wrapper">
        <form method="POST" class="register-form">{% csrf_token %}
            <h5 class="title">New User Registration</h5>
            <hr>
            {{ form|crispy }}
            <div class="submit-btn">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
    {% endblock %}
    
    <script>
        window.onload = function() { document.getElementById("id_first_name").focus() }
    </script>


</html>

