<!DOCTYPE html>

<html lang="en">

    {% load static %}
        <link rel="stylesheet" href="{% static 'base/styles/app.css' %}">
    {% include 'base/appNavbar.html' %}
    
<body>
    
    {% block content %}

    <div class="mainapp">
        <h1>BFRB MOBILE APP</h1>
        <div class="ble">
            <button id="connect-button">Connect</button>
            <button id="transfer-file-button">Transfer</button>
            <button id="cancel-transfer-button">Cancel</button>
        </div>
        <div id="status-label">Click button to connect to the board</div>
        <button id="view">view</button>
        <div id="serialData">None</div>
    </div>
    
    
    <script src="{% static 'base/scripts/bleService.js' %}"></script>
    
    {% endblock %}
</body>

</html>