<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% load static %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
<link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}

<div id="navbar" class="nav-container">
    <nav>
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a>
        <h3>I feel betrayed</h3>

        <div class="nav-links" id="navLinks">
            
            <i id="hideIcon" class="hide-container" onclick="hideMenu()">
                <div class="fa fa-times"></div>
            </i>

            <ul class="links">
                <li><a href="{% url 'app' %}">App</a></li>
                <li><a href="#">My Data</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>

        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
</div>

{% endblock %}
<script src="{% static 'scripts/navbar.js' %}"></script>

