<!DOCTYPE html>

<html lang="en">

    {% load static %}
        <link rel="stylesheet" href="{% static 'base/styles/app.css' %}">

    {% include 'base/appNavbar.html' %}

<body>

    {% block content %}

    <div class="mainapp">
        <canvas id="accelerometerCanvas" width="400" height="100"></canvas>
        <canvas id="gyroscopeCanvas" width="400" height="100"></canvas>

        <div class="ble">
            <button id="connect-button">Connect</button>
            <button id="transfer-file-button">Transfer</button>
            <button id="cancel-transfer-button">Cancel</button>
        </div>
        <div id="status-label">Click button to connect to the board</div>
        <div id="dstData">None</div>
        <form method="POST">{% csrf_token %}
            <input hidden id="data-field" type="text" name="data">
            <button type="submit">Export</button>
        </form>
        <button onclick="beginTraining()">Begin</button>

    </div>
    
    {% endblock %}

    <script src="{% static 'base/scripts/smoothie.js' %}"></script>
    <script src="{% static 'base/scripts/livePlot.js' %}"></script>

</body>
</html>