{% load static %}

<link rel="stylesheet" href="{% static 'styles/navbar123.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% block content %}

<div id="navbar" class="nav-container">
    <nav>
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a>
        <h3>Walang kwentang thesis</h3>

        <div class="nav-links" id="navLinks">
            
            <i id="hideIcon" class="hide-container" onclick="hideMenu()">
                <div class="fa fa-times"></div>
            </i>

            <ul class="links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'app' %}">App</a></li>
                <li><a href="#">About</a></li>

                {% if request.user.is_authenticated %}
                    <li class="avatar">
                        <a href="{% url 'account_info' %}">
                            <img src="{{ profile.image.url }}" alt="{{ request.user.username }}">
                        </a>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
</div>

{% endblock %}
<script src="{% static 'scripts/navbar.js' %}"></script>

